<!DOCTYPE html>
<html>
  <head>
    <title>VolgaCTF Final devenv</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">VolgaCTF Final devenv</span>
    </nav>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Settings</h5>
                                <form id="settings">
                                    <div class="form-group row">
                                        <label for="settings_checker_host" class="col-sm-4 col-form-label col-form-label-sm">Checker host</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" name="checker_host" id="settings_checker_host" placeholder="host or container name" value="{{ form_defaults['checker_host'] }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="settings_team_host" class="col-sm-4 col-form-label col-form-label-sm">Team host</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" name="team_host" id="settings_team_host" placeholder="host or container name" value="{{ form_defaults['team_host'] }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="settings_team_name" class="col-sm-4 col-form-label col-form-label-sm">Team name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" name="team_name" id="settings_team_name" placeholder="team name" value="{{ form_defaults['team_name'] }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="settings_service_name" class="col-sm-4 col-form-label col-form-label-sm">Service name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" name="service_name" id="settings_service_name" placeholder="service name" value="{{ form_defaults['service_name'] }}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recurring</h5>
                                <form id="recurring">
                                    <div class="form-group row">
                                        <label for="recurring_flag_lifetime" class="col-sm-4 col-form-label col-form-label-sm">Flag lifetime</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control form-control-sm" name="flag_lifetime" id="recurring_flag_lifetime" placeholder="flag expires after N seconds" value="{{ form_defaults['flag_lifetime'] }}" min="30">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="recurring_round_timespan" class="col-sm-4 col-form-label col-form-label-sm">Round timespan</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control form-control-sm" name="round_timespan" id="recurring_round_timespan" placeholder="push a new flag every N seconds" value="{{ form_defaults['round_timespan'] }}" min="15">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="recurring_poll_timespan" class="col-sm-4 col-form-label col-form-label-sm">Poll timespan</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control form-control-sm" name="poll_timespan" id="recurring_poll_timespan" placeholder="poll a random live flag every N seconds" value="{{ form_defaults['poll_timespan'] }}" min="15">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="recurring_poll_delay" class="col-sm-4 col-form-label col-form-label-sm">Poll delay</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control form-control-sm" name="poll_delay" id="recurring_poll_delay" placeholder="delay poll for N seconds" value="{{ form_defaults['poll_delay'] }}" min="5">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Start</button>
                                    <button type="button" id="recurring_stop" class="btn btn-danger btn-sm">Stop</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header clearfix">
                                <h5 class="card-title float-left">Logs</h5>
                                <button type="button" id="clear_logs" class="float-right btn btn-outline-danger btn-sm">Clear</button>
                            </div>
                            <ul class="list-group list-group-flush" id="logs">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Onetime</h5>
                                <form id="onetime">
                                    <div class="form-group row">
                                        <label for="onetime_round" class="col-sm-4 col-form-label col-form-label-sm">Round</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control form-control-sm" name="round" id="onetime_round" placeholder="round" value="{{ form_defaults['round'] }}" min="1">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Push</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header clearfix">
                                <h5 class="card-title float-left">Flags</h5>
                                <button type="button" id="clear_flags" class="float-right btn btn-outline-danger btn-sm">Clear</button>
                            </div>
                            <ul class="list-group list-group-flush" id="flags">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.streamUrl = "{{ url_for('sse.stream') }}";
    </script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
